@import "../../styles/variables.css";

.line {
  border-radius: 4px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;

  &:focus,
  &:active {
    background-color: var(--lightGray);
    border: none;
    outline: none;
  }

  &:visited {
    color: inherit;
  }

  &.lineActive {
    background-color: var(--golden);
    color: var(--black) !important;
  }
}

.lineDarkmodeOn {
  &:focus,
  &:active {
    background-color: var(--darkerGray);
  }

  &.lineActiveDarkmodeOn {
    background-color: var(--astroTurf);
    color: var(--black) !important;
  }
}
