{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": [ "last 2 versions", "> 5%" ] }
      }
    ],
    "react"
  ],
  "plugins": [ "transform-runtime", "transform-object-rest-spread", "transform-class-properties" ]
}
