@import "../../styles/variables.css";

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media (--medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

.indent {
  padding-right: 1rem;
  padding-left: 1rem;
}

.heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
