@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700");

html,
body,
section {
  height: 100%;
  width: 100%;
}

section {
  overflow: hidden;
}

body {
  color: rgb(27, 27, 27);
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
}
