:root {
  /* Fonts */
  --cormorant: "Cormorant Garamond", Garamond, Georgia, serif;

  /* Colors */
  --lightGray: #e6e6e6;
  --darkGray: #808080;
  --darkerGray: #666;
  --darkestGray: #333;
  --golden: #fc6;
  --astroTurf: #00ee76;
  --white: #fff;
  --black: #000;
  --defaultBoxShadow: rgba(0, 0, 0, 0.15) 0 10px 30px, rgba(0, 0, 0, 0.1) 0 5px 10px;
  --darkmodeBoxShadow: rgba(0, 0, 0, 0.5) 0 10px 30px, rgba(0, 0, 0, 0.4) 0 5px 10px;
}

@custom-media --medium (width >= 768px);
@custom-media --large (width >= 992px);
