@import "../../styles/variables.css";

.chapterOptionButton {
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;

  &:active,
  &:focus,
  &.chapterOptionButtonActive {
    background-color: var(--lightGray);
  }
}

.chapterOptionButtonDarkmodeOn {
  &:active,
  &:focus,
  &.chapterOptionButtonActiveDarkmodeOn {
    background-color: var(--darkerGray);
  }
}

.chapterHeading {
  background-color: inherit;
  font-family: var(--cormorant);
  font-size: 2rem;
  left: 0;
  position: absolute;
  text-align: center;
  top: 4rem;
  width: 100%;

  @media (--large) {
    position: relative;
    top: 0;
  }
}

.chapterHeadingOption {
  background-color: inherit;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
  top: 0;
}
