@import "../../styles/variables.css";

.buttonContainer {
  text-align: right;
  flex: 1 60%;
  padding-top: 0.5rem;
  box-sizing: border-box;
  background-color: transparent;

  @media (--large) {
    flex: 1 20%;
    order: 3;
  }
}

.button {
  font-family: 'Verdana', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  border: 1px solid var(--darkGray);
  padding: 0.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  text-align: center;
  background-color: inherit;
  color: inherit;
  border-radius: 4px;

  &:active,
  &:focus {
    background-color: var(--lightGray);
  }

  &.buttonDisabled {
    background-color: var(--lightGray);
  }
}

.buttonDarkmodeOn {
  &:active,
  &:focus {
    background-color: var(--darkerGray);
  }
}

.darkmodeButton {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--darkestGray);
  border-color: var(--lightGray);

  &:active,
  &:focus {
    background-color: var(--lightGray);
  }
}

.darkmodeButtonDarkmodeOn {
  background-color: var(--white);
  border-color: var(--darkGray);

  &:active,
  &:focus {
    background-color: var(--darkGray);
  }
}
