@import "../../styles/variables.css";

.navbar {
  box-shadow: var(--defaultBoxShadow);
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  left: 0;
  background-color: inherit;

  @media (--large) {
    height: 5rem;
  }

  &.navbarDarkmodeOn {
    box-shadow: var(--darkmodeBoxShadow);
  }
}

.metadata {
  lost-column: 12/30;
  display: inline-block;
  font-family: var(--cormorant);

  @media (--large) {
    lost-column: 8/30;
  }
}

.navbarItems {
  lost-utility: clearfix;
  list-style: none;
  background-color: inherit;
  position: relative;
  margin: 0;
  padding: 1rem 0.5rem;

  @media (--medium) {
    padding: 1rem 30px;
  }
}
