@import "../../styles/variables.css";

.chaptersContainer {
  position: absolute;
  top: 0;
}

.chapterSelectToggle,
.chapterOptionButton {
  border: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;

  &:active,
  &:focus,
  &.chapterOptionButtonActive {
    background-color: var(--lightGray);
  }
}

.chapterSelectToggleDarkmodeOn,
.chapterOptionButtonDarkmodeOn {
  &:active,
  &:focus,
  &.chapterOptionButtonActiveDarkmodeOn {
    background-color: var(--darkerGray);
  }
}

.chapterSelect {
  @apply --boxShadow;

  display: none;
  position: absolute;
  top: 3rem;
  left: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
  background-color: inherit;
  overflow-y: scroll;
  max-height: 250px;

  @media (min-height: 600px) {
    max-height: 400px;
  }

  @media (min-height: 700px) {
    max-height: 600px;
  }

  @media (min-height: 800px) {
    max-height: 800px;
  }

  &.chapterSelectToggled {
    display: block;
  }
}

.chapterHeading {
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  font-size: 2rem;
  font-family: var(--cormorant);
  text-align: center;
  background-color: inherit;

  @media (--large) {
    lost-column: 14/30;
    position: relative;
    top: 0.5rem;
  }
}

.chapterHeadingOption {
  lost-column: 12/12;
  display: block;
  position: relative;
  top: 0;
  background-color: inherit;
  margin: 0 auto;
  padding: 0.5rem 0;
}
